<!DOCTYPE html>
<html lang="pt-br">

<%- include("../partials/head"); %>

<body class="container">

    <%- include("../partials/header", {pagina: "Sobre"}); %>

    <main>
        <div class="jumbotron text-center conteudo">
            <h1>Sobre Mim</h1>
            <p>Olá Sou Yan Robert Devenvolvedor junior</p>
        </div>
        
    </main>

    <%- include("../partials/footer"); %>

    

</body>
</html>